---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SliderP from "../components/Slider-P.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="LsCubeShop.">
	<Header />

	<main>
		<SliderP />
	</main>

	<Footer />
</Layout>

<style>
	main {
		width: 100%;
		min-height: 100vh;
		padding-top: 10vh;
		background-image: radial-gradient(
			circle at 50% 5%,
			#b76e2d,
			#1f140e
		);
		background-repeat: no-repeat;
		background: cover;
	}
</style>
