---

---

<footer>
    <ul class="flex ">
        <li class="text-white">
            <a href="/Prod">Productos</a>
        </li>
        <li class="text-white">
            <a href="/About">Sobre Ls</a>
        </li>
        <li class="text-white">
            <a href="/index">Pagina principal</a>
        </li>
        <li class="text-white">
            <a href="/Tutorials">Tutoriales</a>
        </li>
        <li class="text-white">
            <a href="/Tourn">Torneos</a>
        </li>
    </ul>
</footer>
