---

---

<footer class="w-full p-16">
    <div class="icons m-10">
        <ul class="flex justify-center gap-20">
            <a href="/Prod" class="text-white">Productos</a>
            <a href="/About" class="text-white">Sobre LS</a>
            <a href="/index" class="text-white">Inicio</a>
            <a href="/Tutorials" class="text-white">Tutoriales</a>
            <a href="/Torneos" class="text-white">Torneos</a>
        </ul>
    </div>

    <div class="flex justify-center gap-20 m-8">
        <a class="font-" href=""
            ><i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
        </a>
        <a href=""
            ><i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
        </a>
        <a href=""
            ><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i>
        </a>
        <a href=""
            ><i class="fa-brands fa-github" style="color: #ffffff;"></i>
        </a>
    </div>

    <div class="txt text-white text-center">
        <p>&copy;2024 LsCube, inc. All rights reserved.</p>
    </div>
</footer>
