---
//import x from "../pages/About.astro"
---

<header id="header" class="header">
    <nav class="">
        <ul class="nbl">
            <a href="/Prod" class="nait a font-normal">Productos</a>
            <a href="/About" class="nait a font-normal">Sobre Ls</a>
            <a href="/index" class="nal a font-normal">
                <img alt="Logo" src="/1prLogo.png" class="lg" />
                <span>Ls Cube</span>
            </a>
            <a href="Tutorials" class="nait a font-normal">Tutoriales</a>
            <a href="Tourn" class="nait a font-normal">Torneos</a>
        </ul>

        <!--  <div id="movile">
            
        </div>
        -->
    </nav>
</header>

<style>
    /* ? navbar */

    .header {
        width: 100%;
        position: absolute;
    }

    nav {
        padding-top: 1%;
       /* display: flex;
        justify-content: space-around;*/
    }

    .nbl {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4%;
    }

    .nbl a {
        color: var(--fc);
        transition: 110ms ease-out;
    }

    .lg {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    .ic {
        width: 50px;
        height: 50px;
    }

    .nal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        font-size: 40px;
        letter-spacing: -2px;
    }

    .nait {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .nbl a:hover {
        transform: scale(1.2);
    }
</style>
