---

---

<div class="mid"></div>

<style>
    .mid {
        height: 2px;
        width: 100%;
        background-color: var(--fc);
        position: absolute;
        top: 55%;
        opacity: 10%;
    }
</style>
